body {
    background-color: antiquewhite;
    font-size: 20px;
    margin:50px 0px 100px 20px;
}
img {
height: 300px;
width: 300px;
padding: auto;
}
p, 
ul{
    width: 600px;
}
th, td {
    padding: 10px;
    }
h1,
h2,
h3,
h4,
 .section {
    display:flex;
    justify-content: center;
    align-items: center;
} 
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: flex-end;
}
.item{
    margin: 3px;
}